<md-button ng-if="$ctrl.getPatronGrp()" class="md-button-confirm button-link" href="{{ $ctrl.detailsBaseEdu }}" target="_blank">
    <prm-icon  class="rotate-20 margin-right-small" icon-type="svg" svg-icon-set="primo-ui" icon-definition="pencil"></prm-icon><span class="md-subhead" translate="customized.personal.details"></span>
</md-button>
<br>
<md-button ng-if="$ctrl.getPatronGrp()" class="md-button-confirm button-link" href="{{ $ctrl.detailsBaseReg }}" target="_blank">
    <prm-icon class="rotate-20 margin-right-small" icon-type="svg" svg-icon-set="primo-ui" icon-definition="account-card-details"></prm-icon><span class="md-subhead" translate="customized.libcard.number"></span>
</md-button>